.img-column {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  min-width: 100%;
}

.search-form {
  width: 70%;
}

h1 {
  margin-bottom: 30px;
}

h4 {
  text-transform: capitalize;
  margin-top: 10px;
}

.search-button {
  margin-top: 20px;
}

.custom-container {
  margin-top: 250px;
}

.plants {
  padding: 100px 0px;
}
